.App{
    font-family: sans-serif;
    text-align: center;
}

button{
    display: flex;
    justify-content: center;
    text-align: center;
}
input{
    width: 80%;
    padding: 1rem;
}

span{
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
}